* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//--------starting style-css---------\\

.user__content {
  max-width: 750px;
  height: 300px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 5px 20px;
}